<section class="lista-curriculos">
  <!-- property do data binding *ngFor -->
  <div *ngFor="let curriculo of curriculos">
    <div class="card">
      <img [src]="curriculo.foto" [alt]="'foto de ' + 'curriculo.nome'" [title]="'foto de curriculo' + 'curriculo.nome '">
      <div class="card-body">
        <h4 class="card-title">Curriculo</h4>
        <h5 class="card-title">Cpf: {{curriculo.cpf}}</h5>
        <h5 class="card-title">Nome: {{curriculo.nome}}</h5>
        <p class="card-text">Email: {{curriculo.email}}</p>
        <p class="card-text">Idade: {{curriculo.idade}}</p>
        <p class="card-text">Endereco: {{curriculo.endereco}}</p>
        <p class="card-text">Formacao: {{curriculo.formacao}}</p>
        <p class="card-text">Telefone: {{curriculo.telefone}}</p>
        <p class="card-text">Habilidades: {{curriculo.habilidades}}</p>
        <p class="card-text">Portfolio: {{curriculo.portfolio}}</p>
      </div>
    </div>
  </div>
  <div class="rodape"></div>
</section>
